.defaultCitiesContainer {
    margin: 20px 0 0 0;
    padding: 0;
    width: 95%;
    height: 50vh;
    border-radius: 2px;
}
.defaultCitiesContainer h3 {
    text-align: center;
    width: 98%;
    
    font-size: large;
    font-weight: 400;

    margin: 0 ;
}
.defaultCitiesContainer p {
    text-align: center;
    width: 90%;
    font-size: medium;

    margin: 2px;
    padding: 0 0 10px 0;
}
.defaultCitiesContainer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll ;
    overflow-x: hidden;

}
.defaultCitiesContainer li {
    height: 6vh;
    width: 100%;
    font-size: larger;
    color: rgb(0, 0, 0);
    margin: 5px;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.defaultCitiesContainer button {
    width: 7vw;
    height: 3vh;
    border-radius: 100%;
    font-size:medium;
    color: green;
    box-shadow: 0.5px 0.5px 2px 0.5px rgba(13, 13, 13, 0.273);

    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

