
@media screen and (max-width: 649px){
.SavedCityContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

    width: 94%;
    height: 50vh;

    border-radius: 5px;
    background-color: rgba(88, 87, 87, 0.115);
    box-shadow: 1px 1px 5px 1px grey;
    margin: 15px 0 0 0;
    padding: 10px 5px 10px 5px;
}

.SavedCityText h2 {
    font-size: larger;
    margin: 0 0 2px 0;
    text-align: center;
}

.SavedCityText p {
    font-size: large;
    margin: 0 0 15px 0;
}

.SavedCityContainer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll ;
    overflow-x: hidden;
}

.SavedCityContainer li {
    height: 6vh;
    width: 50%;
    font-size: larger;
    color: rgb(0, 0, 0);
    margin: 5px;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.timeZoneRow {
    display: flex;
    flex-direction: row;
}

.NoSavedCities{ 
    font-size: large;
    font-weight: 700;
}

.SavedCityContainer button {
    width: 4vw;
    height: 5vh;
    border-radius: 100%;
    font-size:x-small;
    color: rgb(128, 0, 0);
    box-shadow: 0.5px 0.5px 5px 0.5px rgba(13, 13, 13, 0.152);
    border: none;

    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
}

@media screen and ((min-width:650px) and (max-width: 1024px)){
    .SavedCityContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 96%;
    height: 45vh;

    border-radius: 5px;
    background-color: rgba(88, 87, 87, 0.115);
    box-shadow: 1px 1px 5px 1px grey;
    margin: 15px 0 0 0;
    padding: 10px 5px 10px 5px;
}

.SavedCityText h2 {
    font-size: medium;
    margin: 0 0 2px 0;
    text-align: center;
}

.SavedCityText p {
    font-size: small;
    margin: 0 0 15px 0;
}

.SavedCityContainer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll ;
    overflow-x: hidden;
}

.timeZoneRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.SavedCityContainer li {
    height: 100vh;
    width: 99%;
    font-size: small;
    color: rgb(0, 0, 0);
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.31);
    box-shadow: 0.5px 0.5px 3px 0.5px rgba(0, 0, 0, 0.264);

    display: flex;
    flex-direction: row;
    align-items: center;
}

.SavedCityContainer .cityLabel {
    width: 37vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SavedCityContainer .digitalClock {
    border: 4px solid black;
    width: 15vw;
    height: 5vh;
    background-color: rgba(22, 22, 22, 0.811);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: medium;
    font-weight: 400;
    color: rgb(111, 255, 0);
}


.NoSavedCities{ 
    font-size: large;
    font-weight: 700;
}

.SavedCityContainer button {
    width: 2vw;
    height: 3vh;
    border-radius: 100%;
    font-size:small;
    color: rgb(128, 0, 0);
    box-shadow: 0.5px 0.5px 5px 0.5px rgba(13, 13, 13, 0.152);
    border: none;

    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
}

@media screen and ((min-width:1025px) and (max-width: 1280px)){
    .SavedCityContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

    width: 94%;
    height: 45vh;

    border-radius: 5px;
    background-color: rgba(88, 87, 87, 0.115);
    box-shadow: 1px 1px 5px 1px grey;
    margin: 15px 0 0 0;
    padding: 10px 5px 10px 5px;
}

.SavedCityText h2 {
    font-size: larger;
    margin: 0 0 2px 0;
    text-align: center;
}

.SavedCityText p {
    font-size: large;
    margin: 0 0 15px 0;
}

.SavedCityContainer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll ;
    overflow-x: hidden;
}

.timeZoneRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.SavedCityContainer li {
    height: 100vh;
    width: 98%;
    font-size: large;
    color: rgb(0, 0, 0);
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.31);
    box-shadow: 0.5px 0.5px 3px 0.5px rgba(0, 0, 0, 0.264);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-content: center;

}

.SavedCityContainer .cityLabel {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SavedCityContainer .digitalClock {
    border: 4px solid black;
    width: 10vw;
    background-color: rgba(22, 22, 22, 0.811);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: larger;
    font-weight: 400;
    color: rgb(111, 255, 0);
}


.NoSavedCities{ 
    font-size: large;
    font-weight: 700;
}

.SavedCityContainer button {
    width: 2vw;
    height: 4vh;
    border-radius: 100%;
    font-size:small;
    color: rgb(128, 0, 0);
    box-shadow: 0.5px 0.5px 5px 0.5px rgba(13, 13, 13, 0.152);
    border: none;

    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
}

@media screen and (min-width:1281px){
    .SavedCityContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

    width: 94%;
    height: 45vh;

    border-radius: 5px;
    background-color: rgba(88, 87, 87, 0.115);
    box-shadow: 1px 1px 5px 1px grey;
    margin: 15px 0 0 0;
    padding: 10px 5px 10px 5px;
}

.SavedCityText h2 {
    font-size: larger;
    margin: 0 0 2px 0;
    text-align: center;
}

.SavedCityText p {
    font-size: large;
    margin: 0 0 15px 0;
}

.SavedCityContainer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll ;
    overflow-x: hidden;
}

.timeZoneRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.SavedCityContainer li {
    height: 100vh;
    width: 98%;
    font-size: large;
    color: rgb(0, 0, 0);
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.31);
    box-shadow: 0.5px 0.5px 3px 0.5px rgba(0, 0, 0, 0.264);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-content: center;

}

.SavedCityContainer .cityLabel {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SavedCityContainer .digitalClock {
    border: 4px solid black;
    width: 10vw;
    background-color: rgba(22, 22, 22, 0.811);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: larger;
    font-weight: 400;
    color: rgb(111, 255, 0);
}


.NoSavedCities{ 
    font-size: large;
    font-weight: 700;
}

.SavedCityContainer button {
    width: 2vw;
    height: 4vh;
    border-radius: 100%;
    font-size:small;
    color: rgb(128, 0, 0);
    box-shadow: 0.5px 0.5px 5px 0.5px rgba(13, 13, 13, 0.152);
    border: none;

    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
}